{# src/Sdz/BlogBundle/Resources/views/Blog/mail.html.twig #}

{% extends "SdzBlogBundle::layout.html.twig" %}

{% block title %}
	Envoyer un mail - {{ parent() }}
{% endblock %}

{% block sdzblog_body %}

	<h2>Envoyer un mail</h2>
<div class="well">
    <form  method="post" {{ form_enctype(form) }}>
    	{{ form_widget(form) }}
    	<input type="submit" class="btn btn-primary" formnovalidate="true"/>
    </form>
</div>


{% endblock %}
